<section class="toggle2 cid-qv5AjKhpAC" id="toggle2-5e" data-rv-view="10335">
    
        

    
        <div class="container">
            <div class="media-container-row">
                    <div class="toggle-content">
                        <h1  style="text-align: center;" >
                            FAQs 
                        </h1>
                        
                        <div id="bootstrap-toggle" class="toggle-panel accordionStyles tab-content pt-5 mt-2">
                            <div class="card" *ngFor="let item of Faqs" >
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapse1_472" aria-expanded="false" aria-controls="collapse1">
                                        <h4 class="mbr-fonts-style display-5">
                                            <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> {{item.header}}
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapse1_472" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body p-4">
                                        <p class="mbr-fonts-style panel-text display-7">
                                            {{item.content}}
                                    </div>
                                </div>
                            </div>

                            
                            
                            
                        </div>
                    </div>
               
            </div>
        </div>
</section>