<header role="banner" style="padding: 0 5%;" >
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand " href="index.html">Back Links</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
        aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul  class="navbar-nav pl-md-5 ">
          <!-- <li class="nav-item">
            <a class="nav-link active" href="index.html">{{ 'HOME' | translate }}</a>
          </li> -->

          <li class="nav-item" *ngIf="isLoggedIn">
              <a class="nav-link" routerLink="payment">{{ 'Add Funds' | translate }}</a>
            </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" routerLink="services">{{ 'SERVICES' | translate }}</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn" >
            <a class="nav-link" routerLink="contact" >{{ 'CONTACT' | translate }}</a>
          </li>

          
          <li class="nav-item" *ngIf="!isLoggedIn" >
            <a class="nav-link" routerLink="faq" style="">{{ 'faq' | translate }}</a>
          </li>

          
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" routerLink="tickets">{{ 'tickets' | translate }}</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" routerLink="profile">{{ 'reports' | translate }}</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" routerLink="store">{{ 'New Order' | translate }}</a>
          </li>
        
          
          <li class="nav-item" *ngIf="!isLoggedIn" >
            <a class="nav-link" routerLink="about" style=" ">{{ 'ABOUT' | translate }}</a>
          </li>





          <!-- <div class="dropdown">
            <button class="dropbtn">{{ 'More' | translate }}</button>
            <div class="dropdown-content">

     






          <li class="nav-item">
            <a class="nav-link" routerLink="store" style=" color: black !important;">{{ 'store' | translate }}</a>
          </li>


          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" routerLink="offer" style=" color: black !important;">{{ 'offer' | translate }}</a>
          </li>

         

          <li class="nav-item" *ngIf="isLoggedIn">
              <a class="nav-link" routerLink="payments" style=" color: black !important;">{{ 'payments' | translate }}</a>
            </li>


           
         

          
        </div>
       
      </div> -->


   

          
      
        </ul>





        <div id="header-user float-right" class="col-lg-3 mt-2 text-right" >
          <div *ngIf="isLoggedIn" class="dropdown mb-2 drdown">
            <button  class="btn btn-outline-info dropdown-toggle w-100" type="button" id="usermenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color :white; font-size: 12px;">
              <i class="fi-user pr-1"></i>
         <span class="fa fa-user" ></span>
              <span class="text-uper"  style="margin: 5px;  ">{{user?.name}} (<span id="user-balance" style="color: #44ffc2">${{balance}}</span>)</span>
            
            </button>
            
            <div class="dropdown-menu w-100 shadow" aria-labelledby="usermenu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
              <a class="dropdown-item pt-3 pb-3" routerLink="add-f" >{{ 'Balance' | translate }} ${{balance}} </a>
              <!-- <a class="dropdown-item pt-3 pb-3" href="payments.php">Payment History</a> -->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item pt-3 pb-3" routerLink="payments">{{ 'Payments' | translate }}</a>
             
              <a class="dropdown-item pt-3 pb-3" routerLink="update-profile">{{ 'Edit profile' | translate }}</a>
               
              <a class="dropdown-item pt-3 pb-3" (click)="logout()">{{ 'log out' | translate }}</a>
            </div>
          </div>
          <div *ngIf="!isLoggedIn" class="dropdown mb-2 drdown">
            <button routerLink="log-in" class="btn btn-outline-info " type="button" >
              <a style="color :white;" routerLink="log-in">{{ 'LOG IN' | translate }}</a>
            
       
            </button>
            <button *ngIf="!isLoggedIn" routerLink="sign-up" class="btn btn-outline-info " type="button" style="color :white;">
              <a style="color :white;"  routerLink="sign-up">{{ 'sign up' | translate }}</a>
      
            </button>



          </div>
          <button class="btn btn-outline-info" *ngIf="currentLanguage == 'ar'" (click)="Translate('en')" style="color :white;font-size: 12px;" >
            English
                    </button>

          <button class="btn btn-outline-info" *ngIf="currentLanguage == 'en'" (click)="Translate('ar')" style="color :white;font-size: 12px" >
            عربي
         </button>

        </div>
      </div>
    </div>
  </nav>
  
</header>

<!-- END header -->
