<body>
<footer class="site-footer" style="padding-bottom: 0;" role="contentinfo">
    <div class="container">
      <div class="row ">
        <div class="col-md-4 mb-5">
          <h3>{{ 'title' | translate }}</h3>
          <p class="mb-5">{{ 'description' | translate }}</p>
          <ul class="list-unstyled footer-link d-flex footer-social">
            <li><a href="{{social.twitter}}" class="p-2"><span class="fa fa-twitter"></span></a></li>
            <li><a href="{{social.faceBook}}" class="p-2"><span class="fa fa-facebook"></span></a></li>
            <li><a href="{{social.linkedIn}}" class="p-2"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="{{social.instagram}}" class="p-2"><span class="fa fa-instagram"></span></a></li>
          </ul>
         
        </div>
        <div class="col-md-5 mb-5 pl-md-5 ">
          <h3>{{ 'Contact Info' | translate }}</h3>
          <ul class="list-unstyled footer-link">
            <li class="d-block">
              <span class="d-block">{{ 'address' | translate }}</span>
              <span >{{social.Address}}</span></li>
            <li class="d-block"><span class="d-block">{{ 'Telephone' | translate }}</span><span >{{social.Telephone}}</span></li>
            <li class="d-block"><span class="d-block">{{ 'Email' | translate }}</span><span >{{social.Email}}</span></li>
            
          </ul>
        </div>
        <div class="col-md-3 mb-5">
          <h3>{{ 'Quick Links' | translate }}</h3>
          <ul class="list-unstyled footer-link">
            <li><a routerLink="about">{{ 'ABOUT' | translate }}</a></li>
            <li><a routerLink="faqs">{{ 'Faqs' | translate }}</a></li>
            <li><a routerLink="#">{{ 'Terms' | translate }}</a></li>
            <li><a routerLink="#">{{ 'Disclaimers' | translate }}</a></li>
            <li><a routerLink="contact">{{ 'CONTACT' | translate }}</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-md-center text-left">
          
        </div>
      </div>
    </div>
  </footer>

  <!-- END footer -->
</body>