<div class="main">
    <form action="submit"[formGroup]="purchaseForm" (ngSubmit)="purchaseForm.valid && submit()" >
        <!-- <h3 style="text-align: center;padding: 10px;" >
            {{ 'LOG IN' | translate }}
        </h3> -->
          <div class="inset">
                <div class="form-group">
             <label for="userName">{{ 'Amount' | translate }}</label>
                 <input type="number" class="form-control" formControlName="Amount"
                  [ngClass]="{'is-invalid':purchaseForm.get('Amount').touched && purchaseForm.get('Amount').invalid}"   />
                <div *ngIf="purchaseForm.get('Amount').touched && purchaseForm.get('Amount').invalid"  class="invalid-feedback"
                >
                  <div *ngIf="purchaseForm.get('Amount').errors.required">{{ 'Amount' | translate }} {{ 'is required' | translate }}</div>
                  <div *ngIf="purchaseForm.get('Amount').errors.Amount">{{ 'Amount' | translate }} {{ 'must be' | translate }}  {{ 'a valid' | translate }} </div>
                </div>
            </div>
            
          </div>
  
          <div class="p-container" style="text-align: center;" >
            <button type="submit" >{{ 'add balance' | translate }}</button>
          </div>
    </form>
</div>  

