
<section class="pt-6 pb-4">
    <div class="container">
        <div class="text-center">
            <h3>Backlinks Services</h3>
            <div class="line-shape line-shape-center bg-gray-90"></div>
            <div class="mt-5 mb-5 row">
                <div class="col-md-5 col-sm-12 m-auto">
                    <div class="d-flex">
                        <input type="text" class="form-control form-control-lg pr-5" id="search" placeholder="Search">
                        <span class="fi-magnifier d-flex align-self-center search-icon"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4" id="servicelist">
            <div class="row">            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    Web 2.0 blogs (Shared accounts)                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: WEB2</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.07</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 10</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=22">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit WEB2 order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150">
                                       
                                        
                                    </span>
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions" style="display: none;">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=22">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=22">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    Web 2.0 blogs (Dedicated accounts)                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: WEB2+ACC</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.13</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 20</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=25">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit WEB2+ACC order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions" style="display: none;">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=25">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=25">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    PR9 - DA (Domain Authority) 70+                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: DA70</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.25</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 1</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=19">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit DA70 order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions" style="display: none;">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=19">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=19">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    DA (Domain Authority) 50+ Do-follow                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: DA50-DO</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.2</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 10</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=30">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit DA50-DO order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions" style="display: none;">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=30">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=30">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    DA (Domain Authority) 50+                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: DA50</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.15</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 10</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=27">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit DA50 order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions" style="display: none;">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=27">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=27">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    DA (Domain Authority) 30+ Do-follow                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: DA30-DO</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.1</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 10</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=31">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit DA30-DO order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions" style="display: none;">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=31">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=31">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    DA (Domain Authority) 30+                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: DA30</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.07</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 10</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=28">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit DA30 order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=28">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=28">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    The full monty Premium Edition (high DA sites list)                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: FM+</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $5</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 1</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=29">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit FM+ order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=29">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=29">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    The full monty template V5 (2017)                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: FM-V5</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $3</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 1</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=32">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit FM-V5 order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=32">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=32">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    SEnuke TNG - The full monty 2016 - Campaign                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: FM-TNG</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $2</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 1</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=26">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit FM-TNG order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=26">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=26">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    SEnuke - The full monty template 2015 - Campaign                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: FM-2015</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $1.5</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 1</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=3">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit FM-2015 order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions" style="display: none;">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=3">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=3">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    SEnuke - The full monty template 2014 - Campaign                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: FM-2014</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $1.5</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 1</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=2">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit FM-2014 order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=2">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=2">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    SEnuke - The full monty template V4 (2012) - Campaign                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: FM-V4</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $1.5</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 1</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=1">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit FM-V4 order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=1">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=1">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    .EDU backlinks (.edu.xxx mix platforms - NOT recommended)                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: EDU</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.004</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 50</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=4">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit EDU order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=4">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=4">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    Do-follow backlinks (mix platforms)                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: DOFOLLOW</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.001</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 100</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=6">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit DOFOLLOW order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=6">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=6">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    Mix platforms backlinks                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: MIX</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.0005</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 100</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=23">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit MIX order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=23">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=23">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    Article directories backlinks (contextual backlinks)                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: ARTICLES</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.001</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 100</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=5">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit ARTICLES order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=5">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=5">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    Mix profiles backlinks (forum &amp; social networks)                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: PROFILES</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.00033</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 100</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=9">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit PROFILES order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=9">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=9">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    Social networks profiles backlinks                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: SN-P</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.00033</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 100</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=10">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit SN-P order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=10">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=10">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    Forum profiles backlinks                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: FORUM-P</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.00033</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 100</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=11">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit FORUM-P order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=11">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=11">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    Wiki backlinks (mix profiles &amp; articles)                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: WIKI</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.0005</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 100</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=7">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit WIKI order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=7">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=7">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    Wiki articles Backlinks (contextual backlinks)                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: WIKI-A</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.00067</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 100</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=8">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit WIKI-A order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=8">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=8">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    Blog/image/other comments backlinks                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: COMMENTS</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.001</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 100</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=21">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit COMMENTS order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=21">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=21">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    URL shortener backlinks                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: SHORTENET</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.00033</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 100</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=20">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit SHORTENET order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=20">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=20">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10">
                            <div>
                                <div class="mb-1">
                                    Exploit backlinks                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">Code: EXPLOIT</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">Price: $0.00033</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">Min Qty: 100</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=18">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit EXPLOIT order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=18">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=18">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script>
        $(function(){
            $(".item").hover(function(){
                $(this).addClass('z-index-999');
                $(this).find('.actions').fadeIn(300);
                $('#overlay').fadeIn(300);
            },function(){
                $(this).removeClass('z-index-999');
                $(this).find('.actions').fadeOut(100);
                $('#overlay').fadeOut(100);
            });
        });
        </script>

                </div>
    </div>
</section>