
<section class="pt-6 pb-4">
    <div class="container"  >
        <div class="text-center">
            <h3>Backlinks Services</h3>
            <div class="line-shape line-shape-center bg-gray-90"></div>
            <div class="mt-5 mb-5 row">
                <div class="col-md-5 col-sm-12 m-auto">
                    <div class="d-flex">
                        <input type="text" class="form-control form-control-lg pr-5" id="search" placeholder="Search">
                        <span class="fi-magnifier d-flex align-self-center search-icon"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4" id="servicelist" *ngFor="let item of shop">
            <div class="row">            <div class="col-lg-6 col-md-12 pb-5 item">
                <div class="border rounded-xs shadow bg-white">
                    <div class="row p-2">
                        <div class="col-10" (click)="getOrder()">
                            <div>
                                <div class="mb-1">
                                    {{item.description}}                                </div>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Service code" class="badge bg-aqua">{{item.name}}</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Price per 1" class="badge bg-yellow">{{item.price}}</span>
                                <span data-toggle="tooltip" data-placement="top"  data-original-title="Order minimum quantity" class="badge bg-purple">{{item.id}}</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div>
                                <a href="order.php?id=22">
                                    <span data-toggle="tooltip" data-placement="top"  data-original-title="Submit WEB2 order" class="float-right p-3 bg-aqua rounded-xs fi-rocket f-150">
                                       
                                        
                                    </span>
                                    
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 collapse actions" style="display: none;">
                        <div class="col">
                            <div class="text-center bg-gray-05 m-0 pt-3">
                                <a class="btn bg-blue text-white mb-3" href="order.php?id=22">
                                    Make Order
                                </a>
                                <a class="small ml-2" href="details.php?id=22">
                                    Details ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
                </div>
    </div>
    
    
</section>