@import url("https://fonts.googleapis.com/css?family=Bree+Serif");


/* --------------------------
:: 1.0 Base CSS Start
-------------------------- */


body {
  font-family: sans-serif;
}
mat-icon{
  font-size: 40px;
  text-align: center;
  margin:0px;
}
section{
  margin: 3%
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

a {
    color: #2386c9;
}

a:hover {
    color: #2386c9;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
}

li {
    list-style: none;
}

/*
 * Component: BG colors
 * -------------------
 */

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-orange,
.bg-black,
.bg-light-blue,
.bg-green,
.bg-gray-30,
.bg-gray-70,
.bg-gray-90,
.bg-fuchsia,
.bg-purple,
.bg-light-purple,
.bg-maroon,
/*.bg-red a,
.bg-yellow a,
.bg-aqua a,
.bg-blue a,
.bg-orange a,
.bg-black a,
.bg-light-blue a,
.bg-green a,
.bg-gray-30 a,
.bg-gray-70 a,
.bg-gray-90 a,
.bg-fuchsia a,
.bg-purple a,
.bg-light-purple a,
.bg-maroon a */

.alert-danger,
.alert-info,
.alert-primary,
.alert-warning,
.alert-success,
.btn-warning,
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, 
.badge-warning
{
  color: #fff;
  padding: 4px;
}






.bg-yellow,
.alert-warning,
.btn-warning,
.badge-warning {
  background-color: #5A8FFD !important;
}
.bg-aqua,
.alert-info,
.btn-info,
.badge-info {
  background-color: #2386c9 !important;
}
.bg-blue,
.alert-primary,
.btn-primary,
.badge-primary {
  background-color: #2386c9 !important;
}





.bg-purple {
  background-color: #6f42c1 !important;
}

form div {
  width: 48%;
  margin: 1%;
  display: inline-block;
}




@media (min-width: 576px)
{
  .modal-dialog {
    max-width: 703px;
    margin: 1.75rem auto;
}
}

 
.pt-6 {
    padding-top: 4rem!important;
}


.pb-6 {
    padding-bottom: 4rem!important;
}


.mt-6 {
    margin-top: 4rem!important;
}

.mb-6 {
    margin-bottom: 4rem!important;
}





.line-shape {
  width: 80px;
  height: 2px;
  margin-top: 15px;
}
.line-shape-center {
  margin-left: calc(50% - 40px);
}


 




 .fi-rocket:before {
  content: "\e908";
}


.popout {
  animation: popout 0.4s ease;
  -webkit-animation: popout 0.4s ease;
}
@keyframes popout {
  from{transform:scale(0)}
  80%{transform:scale(1.2)}
  to{transform:scale(1)}
}
@-webkit-keyframes popout {
  from{-webkit-transform:scale(0)}
  80%{-webkit-transform:scale(1.2)}
  to{-webkit-transform:scale(1)}
}

.head {
  display: flex;
    align-items: center;
    justify-content: space-between;
}

 .buttons {
    width: 100% !important;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    display: none;
}


.collapse-buttons{
  padding: 5px;
  display: flex;
  align-items: center;
  display: none;
  justify-content: space-around;
  transition: 0.5s;
}
.item:hover  .collapse-buttons {
display: flex;

}