<section class="pt-6 pb-4">
  <div class="container">
    <div class="text-center">
      <h3>{{ 'All_Products' | translate }}</h3>
      <div class="line-shape line-shape-center bg-gray-90"></div>

    </div>
    <div class="row">

      <div *ngFor="let item of shop" style="cursor: pointer;" class=" popout col-lg-6 col-md-12 pb-5 item">
        <div class="border rounded-xs shadow bg-white">
          <div class="row p-2">
            <div class="col-10">
              <div>
                <div class="mb-1 head ">
                  <span>
                    {{item.name}}
                  </span>

                </div>
                <p>
                  <span data-toggle="tooltip" data-placement="top" data-original-title="Price per 1"
                    class="badge bg-yellow"> {{'price' | translate}} : {{item.price}} $ </span>

                  <span data-toggle="tooltip" data-placement="top" data-original-title="Price per 1" style="
                  margin: 5px;
                  background-color: #9B3EE8;
                
              " class="badge bg-yellow"> {{'minimum quantity' | translate }} : {{item.minimum}} </span>
                </p>


              </div>
            </div>
            <div class="col-2">
              <div>
                <a>
                  <span data-toggle="tooltip" data-placement="top" data-original-title="Submit WEB2 order"
                    class="float-right p-3 bg-aqua rounded-xs ">

                    <i style="font-size: 25px;" class="fa fa-file-text" aria-hidden="true"></i>

                  </span>

                </a>
              </div>
            </div>
          </div>
          <div class="collapse-buttons">
            <button class="btn" style="background-color: #2386c9; color: #fff;" (click)="getOrder(item)">
              {{'Make Order' | translate }}
            </button>
            <button class="btn" (click)="viewDetails(item)">
              {{'view  details' | translate }}
            </button>
          </div>
          <div class="row mt-2 collapse actions" style="display: none;">
            <div class="col">
              <div class="text-center bg-gray-05 m-0 pt-3">
                <a class="btn bg-blue text-white mb-3" href="order.php?id=22">
                  {{ 'Make Order' | translate }}
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</section>
