<section class="pt-4 pb-4">

  <h3>
    {{selectedItem.name}}
  </h3>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 pb-4">

        <form [formGroup]="orderForm">

          <div id="extras" class="form-group">
            <div id="extras" class="form-group">
              <label>{{ 'Available Extras' | translate }}

              </label>
              <div *ngFor="let item of extras">
                <input type="checkbox" (change)="onItemSelect(item, $event)">
                {{item.name}}
                <span class="badge badge-secondary"> {{'price' | translate}} : {{item.price}} $</span>
              </div>

            </div>
            <div class="form-group">
              <label for="quantity">{{ 'Quantity' | translate }} {{'minimum is ' | translate}} {{selectedItem.minimum}}
              </label>

              <input formControlName="quantity" min="{{selectedItem.minimum}}" type="number" class="form-control"
                name="qty" id="quantity" required=""
                [ngClass]="{'is-invalid':orderForm.get('quantity').touched && orderForm.get('quantity').invalid}"
                required />
              <div class="invalid-feedback">
                <div>{{ 'Quantity' | translate }} {{ 'is required and minimum is ' | translate }}
                  {{selectedItem.minimum}} </div>
              </div>

            </div>



            <div class="form-group">

              <label for="links">{{ 'Links' | translate }}</label>
              <a id="links-tooltip" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="One link/URL per line.">
                <span class="fi-question-circle text-yellow">
                </span>
              </a>

              <textarea formControlName="links" name="links" class="form-control" id="links" cols="30" rows="4"
                placeholder="http://example.com/page-one.html
                           " required=""
                [ngClass]="{'is-invalid':orderForm.get('links').touched && orderForm.get('links').invalid}">


                        </textarea>
              <div class="invalid-feedback">
                <div>{{ 'Links' | translate }} {{ 'is required' | translate }}</div>
              </div>
            </div>

            <div id="keywords-block" class="form-group">
              <label for="keywords">{{ 'comment' | translate }}</label>
              <a id="links-tooltip" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="One keyword per line or comma separated.">
                <span class="fi-question-circle text-yellow">
                </span>
              </a>
              <textarea formControlName="keywords" class="form-control" name="kws" id="keywords" cols="30" rows="4"
                placeholder="Keyword Example One
      " required=""
                [ngClass]="{'is-invalid':orderForm.get('keywords').touched && orderForm.get('keywords').invalid}"></textarea>
              <div class="invalid-feedback">
                <div>{{ 'comment' | translate }} {{ 'is required' | translate }}</div>
              </div>
            </div>



            <div class="form-group" style="width: 100%;">
              <label>{{ 'Categories' | translate }}

              </label>
              <select formControlName="article" class="form-control"
                [ngClass]="{'is-invalid':orderForm.get('article').touched && orderForm.get('article').invalid}">
                <option *ngFor="let item of Categories" value="{{item.data}}">
                  {{item.name}}
                </option>
              </select>
              <div class="invalid-feedback">
                <div>{{ 'Categories' | translate }} {{ 'is required' | translate }}</div>
              </div>
            </div>
            <h6 style="color: #236AC9;" >
              * {{'Order will be in English' | translate}} *
            </h6>

            <div class=" buttons form-group mt-4">
              <button class="btn bg-blue" (click)="submit()" name="submit">
                <span class="fi-checkmark"></span> {{ 'Make Order' | translate }}</button>
              <div class="btn bg-gray-10 shadow-none">{{ 'Total price' | translate }} <b>$<span
                    id="usd-price">{{getTotal()}}</span></b>
              </div>

            </div>

          </div>

        </form>


      </div>
      <div class="col-lg-1"></div>

      <div class="col-md-3">
        <div class="card" style="width: 100%;box-shadow: 1px 1px 10px #0000003b; ">
          <h5 style="
          background-color: rgba(0, 0, 0, 0.03);
          margin: 0;
          padding: 5px 20px;
      " >
            {{'Services Details' | translate}} 
          </h5>
          <div class="card-header">
            {{'Id' | translate }} : {{selectedItem.id}}
          </div>

          <div class="card-header">
            {{'Price' | translate}} : {{selectedItem.price}} $
          </div>
          <div class="card-header">
            {{'minimum quantity' | translate}} : {{selectedItem.minimum}}
          </div>
          <a style="    text-align: right;
          background-color: rgba(0, 0, 0, 0.03);
        padding: 10px;
        cursor: pointer;
        color: #2386c9;" (click)="viewDetails()">
            {{'View  details' | translate }}
          </a>

          <div class="card-header">
            <h5>
              {{'Related FAQs' | translate}} ?
            </h5>

              <p *ngFor="let item of faqs" (click)="viewFaq(item)" style="font-size: 18px; cursor: pointer;  ">
                <i style="color: #2386c9;" class="fa fa-question-circle" aria-hidden="true"></i>

                {{
              item.header    
              }}
          </p>

          </div>



        </div>
      </div>
      <div class="col-lg-1"></div>

    </div>

  </div>

</section>
