<!-- contact -->
<section class="section">
    <h3 style="text-align: center;padding: 10px;" >
        {{ 'Contact Info' | translate }}
      </h3>
  <div class="container">
      
    <div class="row">
      
      <div class="col-md-6 mb-5 order-2">
        <form [formGroup]="contactForm">
            
          <div class="row">
            <div class="col-md-6 form-group" >
              <label for="name">{{ 'Name' | translate }}</label>
              <input formControlName="name" type="text" id="name" class="form-control "
              [ngClass]="{'is-invalid':contactForm.get('name').touched && contactForm.get('name').invalid}"
              >
              <div class="invalid-feedback">
                <div>{{ 'Name' | translate }} {{ 'is required' | translate }}</div>
              </div>            
            </div>
            <div class="col-md-6 form-group">
              <label for="phone">{{ 'Telephone' | translate }}</label>
              <input formControlName="phone" type="text" id="phone" class="form-control "
              [ngClass]="{'is-invalid':contactForm.get('phone').touched && contactForm.get('phone').invalid}" 
              >
              <div class="invalid-feedback">
                <div>{{ 'Telephone' | translate }} {{ 'is required' | translate }}</div>
              </div>            
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              <label for="email">{{ 'Email' | translate }}</label>
              <input formControlName="mail" type="email" id="email" class="form-control "
              [ngClass]="{'is-invalid':contactForm.get('mail').touched && contactForm.get('mail').invalid}"
              >
              <div class="invalid-feedback">
                <div>{{ 'Email' | translate }} {{ 'is required' | translate }}</div>
              </div>      
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              <label for="message">{{ 'Write Message' | translate }}</label>
              <textarea formControlName="message" name="message" id="message" class="form-control " cols="30" rows="8"
              [ngClass]="{'is-invalid':contactForm.get('message').touched && contactForm.get('message').invalid}"
              >
            </textarea>
            <div class="invalid-feedback">
              <div>{{ 'Message' | translate }} {{ 'is required' | translate }}</div>
            </div>   
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <button (click)="submit()"  class="btn btn-primary px-3 py-3">
                {{ 'Send Message' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6 order-2 mb-5">
        <div class="row justify-content-right">
          <div class="col-md-8 mx-auto contact-form-contact-info">
            <p class="d-flex">
              <span class="ion-ios-location icon mr-5"></span>
              <span>{{ 'Address' | translate }}</span>
            </p>

            <p class="d-flex">
              <span class="ion-ios-telephone icon mr-5"></span>
              <span>+1 242 4942 290</span>
            </p>

            <p class="d-flex">
              <span class="ion-android-mail icon mr-5"></span>
              <span>info@yourdomain.com</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>