

<div class="container" style="margin-top: 7%;">

    <h1 style="text-align: center; margin-bottom: 30px;" >
        {{'Talk about us and win' | translate}}
    </h1>

    <p style="margin-top: 15px; margin-bottom: 40px; text-align: center;" [innerHtml]="rulesDec"></p>
    <div *ngFor="let rule of rules" class="coupon" (click)="view()" >

        <div  style="background-color:white">
          <h5><b>{{'Get' | translate}} {{rule.count}} {{'views and win' | translate}} {{rule.gift}} $ </b></h5>
          <p [innerHTML]="rule.description" >
            
          </p>
          <img src="{{rule.image}}" alt="">
        </div>

      </div>


</div>