<body>

    <div class="main">
        <form action="login" [formGroup]="signForm">
            <h3 style="text-align: center;padding: 10px;" >
				{{ 'sign up' | translate }}
			</h3>
            <div class="inset">
              <p>
               <label for="userName">{{ 'Username' | translate }}</label>
                <input formControlName="name" type="text" placeholder="User Name" required/>
            </p>
            <p>
                <label for="Email">{{ 'Email' | translate }}</label>
                 <input formControlName="email" type="mail" placeholder="Email" required/>
             </p>

             <p>
                <label for="psw"><b>{{ 'Password' | translate }}</b></label>
                <input  formControlName="password" type="password"  name="psw" required>
             </p>
              <p>
                  <label for="psw"><b>{{ 'confirm Password' | translate }}</b></label>
                  <input type="password"  name="psw" required>
              </p>

            </div>
        
            <p class="p-container" style="text-align: center;" >
              <button type="submit" (click)="signUp()" value="sign up">{{ 'sign up' | translate }}</button>
            </p>
        </form>
    </div>
    </body>