<section class="bg-gray-10 pb-5" id="payoffer">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 pt-8">
                <h3 class="mb-1"><img src="https://panel.seoestore.net/assets/img/ribbons.png" width="70px"> TOP-UP OFFERS</h3>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="plan  ">
                                <div class="f-150 text-aqua">50% Bonus</div>
                <div class="f-200 b-6 text-yellow">$150</div>
                <div class="text-black">Pay ONLY <b class="bold">$100</b></div>
                <hr>
                <div class="text-gray-30">
                    <small class="">Pay Only $100<br>Get $150 in Your Balance</small>
                </div>
                            <a href="./login.php" class="btn btn-block btn-warning mt-3">Pay ONLY <b>$100</b></a>
                        </div>
                </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="plan  ">
                                <div class="f-150 text-aqua">80% Bonus</div>
                <div class="f-200 b-6 text-yellow">$450</div>
                <div class="text-black">Pay ONLY <b class="bold">$250</b></div>
                <hr>
                <div class="text-gray-30">
                    <small class="">Pay Only $250<br>Get $450 in Your Balance</small>
                </div>
                            <a href="./login.php" class="btn btn-block btn-warning mt-3">Pay ONLY <b>$250</b></a>
                        </div>
                </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="plan  ">
                                <div class="f-150 text-aqua">120% Bonus</div>
                <div class="f-200 b-6 text-yellow">$1,100</div>
                <div class="text-black">Pay ONLY <b class="bold">$500</b></div>
                <hr>
                <div class="text-gray-30">
                    <small class="">Pay Only $500<br>Get $1,100 in Your Balance</small>
                </div>
                            <a href="./login.php" class="btn btn-block btn-warning mt-3">Pay ONLY <b>$500</b></a>
                        </div>
                </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="plan  plan-highlight">
                <div class="plan-recommended bg-aqua">Most Popular</div>                <div class="f-150 text-aqua">200% Bonus</div>
                <div class="f-200 b-6 text-yellow">$3,000</div>
                <div class="text-black">Pay ONLY <b class="bold">$1000</b></div>
                <hr>
                <div class="text-gray-30">
                    <small class="">Pay Only $1,000<br>Get $3,000 in Your Balance</small>
                </div>
                            <a href="./login.php" class="btn btn-block btn-info mt-3">Pay ONLY <b>$1000</b></a>
                        </div>
                </div>
        </div>
    </div>



    <div class="container">
        <div class="row text-center">
            <div class="col-12 pt-8">
                <h3 class="mb-3">TOP-UP OFFERS <sup class="badge bg-red text-white mt-2"><small><small>for</small> VIP CLIENTS</small></sup>
                </h3>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="plan  plan-highlight">
                <div class="plan-recommended bg-aqua">Most Popular</div>                <div class="f-150 text-aqua">300% Bonus</div>
                <div class="f-200 b-6 text-yellow">$20,000</div>
                <div class="text-black">Pay ONLY <b class="bold">$5000</b></div>
                <hr>
                <div class="text-gray-30">
                    <small class="">Pay Only $5,000<br>Get $20,000 in Your Balance</small>
                </div>
                            <a href="./login.php" class="btn btn-block btn-info mt-3">Pay ONLY <b>$5000</b></a>
                        </div>
                </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="plan plan-light ">
                                <div class="f-150 text-aqua">400% Bonus</div>
                <div class="f-200 b-6 text-yellow">$50,000</div>
                <div class="text-black">Pay ONLY <b class="bold">$10000</b></div>
                <hr>
                <div class="text-gray-30">
                    <small class="">Pay Only $10,000<br>Get $50,000 in Your Balance</small>
                </div>
                            <a href="./login.php" class="btn btn-block btn-warning mt-3">Pay ONLY <b>$10000</b></a>
                        </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="plan plan-light ">
                                <div class="f-150 text-aqua">500% Bonus</div>
                <div class="f-200 b-6 text-yellow">$90,000</div>
                <div class="text-black">Pay ONLY <b class="bold">$15000</b></div>
                <hr>
                <div class="text-gray-30">
                    <small class="">Pay Only $15,000<br>Get $90,000 in Your Balance</small>
                </div>
                            <a href="./login.php" class="btn btn-block btn-warning mt-3">Pay ONLY <b>$15000</b></a>
                        </div>
                    </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="plan plan-light ">
                                <div class="f-150 text-aqua">600% Bonus</div>
                <div class="f-200 b-6 text-yellow">$140,000</div>
                <div class="text-black">Pay ONLY <b class="bold">$20000</b></div>
                <hr>
                <div class="text-gray-30">
                    <small class="">Pay Only $20,000<br>Get $140,000 in Your Balance</small>
                </div>
                            <a href="./login.php" class="btn btn-block btn-warning mt-3">Pay ONLY <b>$20000</b></a>
                        </div>
                </div>
        </div>
    </div>
</section>