<section class="bg-gray-10 pb-5" id="payoffer">
    <div  class="cont" style="padding: 0 8%;"  >
        <div class="row text-center">
            <div class="col-12 pt-8">
                <h3 class="mb-1"><img src="https://panel.seoestore.net/assets/img/ribbons.png" width="70px"> {{'TOP-UP OFFERS' | translate}}</h3>
            </div>
        </div>
        <div class="row mt-4">
            <div *ngFor="let offer of offers" class="col-lg-3 col-md-6 col-sm-12" >
                            <div class="plan  ">
                                <div class="f-150 text-aqua">{{offer.bounce}}% {{'Bonus' | translate}}</div>
                <div class="f-200 b-6 text-yellow">${{offer.amount}}</div>
                <img src="{{offer.image}}" alt="">
                <!-- <div class="text-black">{{'Pay ONLY'| translate}} <b class="bold">${{offer.amount}}</b></div> -->
                <hr>
                <div class="text-gray-30">
                    <!-- <small class="">{{'Pay ONLY'| translate}} ${{offer.amount}}<br>Get ${{offer.amount  + (offer.amount * offer.bounce * 0.01)}} in Your Balance</small> -->
                </div>
                            <a (click)="pay(offer)" class="btn btn-block btn-warning mt-3">{{'Pay ONLY'| translate}} <b>${{offer.amount}}</b></a>
                        </div>
                </div>

            <!-- <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="plan  plan-highlight">
                <div class="plan-recommended bg-aqua">Most Popular</div>                <div class="f-150 text-aqua">200% Bonus</div>
                <div class="f-200 b-6 text-yellow">$3,000</div>
                <div class="text-black">{{'Pay ONLY'| translate}} <b class="bold">$1000</b></div>
                <hr>
                <div class="text-gray-30">
                    <small class="">{{'Pay ONLY'| translate}} $1,000<br>Get $3,000 in Your Balance</small>
                </div>
                            <a href="./login.php" class="btn btn-block btn-info mt-3">{{'Pay ONLY'| translate}} <b>$1000</b></a>
                        </div>
                </div> -->
        </div>
    </div>



</section>