


<section class="section bg-light">
  <div class="container" >
    <div class="row">
      <div *ngFor="let item of service"  class="col-md-6 col-lg-4   mb-4">
        <div class="media block-6 d-block text-center">
          <img width="120px" src="{{item.image}}" alt="">
          <div class="media-body">
            <h3 class="heading">{{item.name}}</h3>
            <p>{{item.caption}}</p>
          </div>
        </div>  

      </div>
      

      </div>
    </div>
  
</section>
<!-- END section -->




