<div class="inner-page">
<div class="slider-item" style="background-image: url('assets/images/industrial_hero_3.jpg');">
    
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-8 text-center col-sm-12 element-animate pt-5">
          <h1 class="pt-5"><span>Our Services</span></h1>
          <p class="mb-5 w-75">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic eius, quas. Aliquid, iste quisquam numquam.</p>
        </div>
      </div>
    </div>

  </div>
</div>




<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 element-animate mb-4">
        <div class="media block-6 d-block text-center">
          <div class="icon mb-3"><span class="ion-android-notifications text-primary"></span></div>
          <div class="media-body">
            <h3 class="heading">Modern Design</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>  

      </div>
      <div class="col-md-6 col-lg-4 element-animate mb-4">
        <div class="media block-6 d-block text-center">
          <div class="icon mb-3"><span class="ion-heart text-primary"></span></div>
          <div class="media-body">
            <h3 class="heading">Built With Passion</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div> 

      </div>
      <div class="col-md-6 col-lg-4 element-animate mb-4">
        <div class="media block-6 d-block text-center">
          <div class="icon mb-3"><span class="ion-flash text-primary"></span></div>
          <div class="media-body">
            <h3 class="heading">Fast Loading</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div> 

      </div>

      <div class="col-md-6 col-lg-4 element-animate mb-4">
        <div class="media block-6 d-block text-center">
          <div class="icon mb-3"><span class="ion-leaf text-primary"></span></div>
          <div class="media-body">
            <h3 class="heading">Renewable</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>  

      </div>
      <div class="col-md-6 col-lg-4 element-animate mb-4">
        <div class="media block-6 d-block text-center">
          <div class="icon mb-3"><span class="ion-ios-lightbulb text-primary"></span></div>
          <div class="media-body">
            <h3 class="heading">Versatile</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div> 

      </div>
      <div class="col-md-6 col-lg-4 element-animate mb-4">
        <div class="media block-6 d-block text-center">
          <div class="icon mb-3"><span class="ion-android-apps text-primary"></span></div>
          <div class="media-body">
            <h3 class="heading">Industrial Projects</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div> 

      </div>
    </div>
  </div>
</section>
<!-- END section -->




