
	<div class="container">
		        <div id="offer-ad-container" class="">
            <div class="pt-4 pb-2">
                <div class="bg-white shadow-sm border text-lg-left text-center">
                    <a routerLink="../offer" class="row p-3 text-gray-90"> 
                     <!--<a href="#" id="offer-ad" class="row p-3 text-gray-90"> -->
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <img id="offer-gif" src="https://panel.seoestore.net/assets/img/gift-icon.png" width="100">
                        </div>
                        <div class="col-lg-8 col-md-4 col-sm-12 pt-3">
                            <h3 class="b-6"> {{'Top Up' | translate }}<span class="text-red">{{'Special Offers' | translate }}</span></h3>
                            <div><i>{{'Up to' | translate }} 100% {{'Bonus' | translate }} {{'balance' | translate }}</i></div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-12">
                            <span class="btn btn-success btn-lg btn-block p-3 mt-3">Show Offers</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div id="offers" class="collapse">
            <div class="py-4">
                <div class="text-center pt-4">
                    <div class="f-200">{{'Top Up' | translate }}<span class="text-red">{{'Special Offers' | translate }}</span></div>
                </div>
                <div class="py-4">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="plan  ">
                                <div class="f-150 text-aqua">25% {{'Bonus' | translate }}</div>
                <div class="f-200 b-6 text-yellow">$125</div>
                <div class="text-black">{{'Pay ONLY' | translate }} <b class="bold">$100</b></div>
                <hr>
                <div class="text-gray-30">
                    <small class="">{{'Pay ONLY' | translate }} $100<br>{{'Get' | translate }} $125 {{'in Your Balance' | translate }}</small>
                </div>
                            <a routerLink="../purchase" class="btn btn-block btn-warning mt-3">{{'Pay ONLY' | translate }} <b>$100</b></a>
                        </div>
                            </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="plan  ">
                                <div class="f-150 text-aqua">40% {{'Bonus' | translate }}</div>
                <div class="f-200 b-6 text-yellow">$350</div>
                <div class="text-black">{{'Pay ONLY' | translate }} <b class="bold">$250</b></div>
                <hr>
                <div class="text-gray-30">
                    <small class="">{{'Pay ONLY' | translate }} $250<br>{{'Get' | translate }} $350 {{'in Your Balance' | translate }}</small>
                </div>
                            <a routerLink="../purchase" class="btn btn-block btn-warning mt-3">{{'Pay ONLY' | translate }} <b>$250</b></a>
                        </div>
                            </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="plan  ">
                                <div class="f-150 text-aqua">60% {{'Bonus' | translate }}</div>
                <div class="f-200 b-6 text-yellow">$800</div>
                <div class="text-black">{{'Pay ONLY' | translate }} <b class="bold">$500</b></div>
                <hr>
                <div class="text-gray-30">
                    <small class="">{{'Pay ONLY' | translate }} $500<br>{{'Get' | translate }} $800 {{'in Your Balance' | translate }}</small>
                </div>
                            <a routerLink="../purchase" class="btn btn-block btn-warning mt-3">{{'Pay ONLY' | translate }} <b>$500</b></a>
                        </div>
                            </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="plan  plan-highlight">
                <div class="plan-recommended bg-aqua"> {{'Most Popular' | translate }}</div>                <div class="f-150 text-aqua">100% {{'Bonus' | translate }}</div>
                <div class="f-200 b-6 text-yellow">$2,000</div>
                <div class="text-black">{{'Pay ONLY' | translate }} <b class="bold">$1000</b></div>
                <hr>
                <div class="text-gray-30">
                    <small class="">{{'Pay ONLY' | translate }} $1,000<br>{{'Get' | translate }} $2,000 {{'in Your Balance' | translate }}</small>
                </div>
                            <a routerLink="../purchase" class="btn btn-block btn-info mt-3">{{'Pay ONLY' | translate }} <b>$1000</b></a>
                        </div>
                            </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="py-4">
                <div class="text-center pt-4">
                    <span class="f-150">{{'Top Up' | translate }}OFFERS<span> <sup class="badge bg-red text-white"><small>{{'for' | translate }}</small>{{'VIP CLIENTS' | translate }}</sup></span></span></div>
                </div>
                <div class="py-4">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="plan  ">
                                <div class="f-150 text-aqua">200% {{'Bonus' | translate }}</div>
                <div class="f-200 b-6 text-yellow">$15,000</div>
                <div class="text-black">{{'Pay ONLY' | translate }} <b class="bold">$5000</b></div>
                <hr>
                <div class="text-gray-30">
                    <small class="">{{'Pay ONLY' | translate }} $5,000<br>{{'Get' | translate }} $15,000 {{'in Your Balance' | translate }}</small>
                </div>
                            <a routerLink="../purchase" class="btn btn-block btn-warning mt-3">{{'Pay ONLY' | translate }} <b>$5000</b></a>
                        </div>
                            </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="plan  plan-highlight">
                <div class="plan-recommended bg-aqua"> {{'Most Popular' | translate }}</div>                <div class="f-150 text-aqua">300% {{'Bonus' | translate }}</div>
                <div class="f-200 b-6 text-yellow">$40,000</div>
                <div class="text-black">{{'Pay ONLY' | translate }} <b class="bold">$10000</b></div>
                <hr>
                <div class="text-gray-30">
                    <small class="">{{'Pay ONLY' | translate }} $10,000<br>{{'Get' | translate }} $40,000 {{'in Your Balance' | translate }}</small>
                </div>
                            <a routerLink="../purchase" class="btn btn-block btn-info mt-3">{{'Pay ONLY' | translate }} <b>$10000</b></a>
                        </div>
                            </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="plan  ">
                                <div class="f-150 text-aqua">400% {{'Bonus' | translate }}</div>
                <div class="f-200 b-6 text-yellow">$75,000</div>
                <div class="text-black">{{'Pay ONLY' | translate }} <b class="bold">$15000</b></div>
                <hr>
                <div class="text-gray-30">
                    <small class="">{{'Pay ONLY' | translate }} $15,000<br>{{'Get' | translate }} $75,000 {{'in Your Balance' | translate }}</small>
                </div>
                            <a routerLink="../purchase" class="btn btn-block btn-warning mt-3">{{'Pay ONLY' | translate }} <b>$15000</b></a>
                        </div>
                            </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="plan  ">
                                <div class="f-150 text-aqua">500% {{'Bonus' | translate }}</div>
                <div class="f-200 b-6 text-yellow">$120,000</div>
                <div class="text-black">{{'Pay ONLY' | translate }} <b class="bold">$20000</b></div>
                <hr>
                <div class="text-gray-30">
                    <small class="">{{'Pay ONLY' | translate }} $20,000<br>{{'Get' | translate }} $120,000 {{'in Your Balance' | translate }}</small>
                </div>
                            <a routerLink="../purchase" class="btn btn-block btn-warning mt-3">{{'Pay ONLY' | translate }} <b>$20000</b></a>
                        </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
       
<section class="pt-3 bg-gray-05">
	<div class="container text-lg-left text-center">
		<div class="row">
			<div class="mt-5 col-lg-4 col-md-6 col-sm-12 border border-top-0 border-bottom-0 border-left-0">
				<h3 class="b-8">{{'Available' | translate }} {{'Balance' | translate }}</h3>
				
							<div class="pt-3 f-125">
					<a class="btn btn-outline-primary" routerLink="../purchase">{{'LOG IN' | translate }}{{'to access' | translate }}</a>
				</div>
			
				<div class="pt-3">
					<a href="./payments.php" target="_blank"><i>{{'Payment History' | translate }}</i></a>
				</div>
				<div class="pt-3"> 
					<a href="./coupons.php" target="_blank"><i>{{'Redeem it now' | translate }}</i></a>
				</div>
			</div>
			<div class="mt-5 col-lg-8 col-md-6 col-sm-12 pb-5">
				<h3 class="b-8 mb-5">{{'Payment Options' | translate }}</h3>
				<div class="row">
					  
  <a routerLink="../purchase" class=" col-12 mb-4">
      <div class="bg-white pointer shadow">
          <div class="row p-2">
              <div class="col-lg-2 col-md-4 col-sm-12">
                  <span class="img-box img-box-6 bg-white border rounded-circle">
                      <img src="https://panel.seoestore.net/assets/img/paypal.png">
                  </span>
              </div>
              <div class="col-lg-10 col-md-8 col-sm-12 pt-3">
                  <div>{{'Pay with Paypal' | translate }}</div>
                  <div><i>{{'Instant - No minimum' | translate }}</i></div>
              </div>
          </div>
      </div>
          </a>
    
  <a routerLink="../purchase" class=" col-12 mb-4">
      <div class="bg-white pointer shadow">
          <div class="row p-2">
              <div class="col-lg-2 col-md-4 col-sm-12">
                  <span class="img-box img-box-6 bg-white border rounded-circle">
                      <img src="https://panel.seoestore.net/assets/img/bitcoin.png">
                  </span>
              </div>
              <div class="col-lg-10 col-md-8 col-sm-12 pt-3">
                  <div>Pay with Bitcoin</div>
                  <div><i>Instant - No minimum</i></div>
              </div>
          </div>
      </div>
          </a>
    
  <a routerLink="../purchase" class=" col-12 mb-4">
      <div class="bg-white pointer shadow">
          <div class="row p-2">
              <div class="col-lg-2 col-md-4 col-sm-12">
                  <span class="img-box img-box-6 bg-white border rounded-circle">
                      <img src="https://panel.seoestore.net/assets/img/cards.png">
                  </span>
              </div>
              <div class="col-lg-10 col-md-8 col-sm-12 pt-3">
                  <div>Pay with Card (Visa, Master)</div>
                  <div><i>Instant - $5 minimum</i></div>
              </div>
          </div>
      </div>
          </a>
    
  <a routerLink="../purchase" class=" col-12 mb-4">
      <div class="bg-white pointer shadow">
          <div class="row p-2">
              <div class="col-lg-2 col-md-4 col-sm-12">
                  <span class="img-box img-box-6 bg-white border rounded-circle">
                      <img src="https://panel.seoestore.net/assets/img/payoneer.png">
                  </span>
              </div>
              <div class="col-lg-10 col-md-8 col-sm-12 pt-3">
                  <div>Pay with Payoneer</div>
                  <div><i>Deposit within one business day - $50 minimum</i></div>
              </div>
          </div>
      </div>
          </a>
    
  <a routerLink="../purchase" class=" col-12 mb-4">
      <div class="bg-white pointer shadow">
          <div class="row p-2">
              <div class="col-lg-2 col-md-4 col-sm-12">
                  <span class="img-box img-box-6 bg-white border rounded-circle">
                      <img src="https://panel.seoestore.net/assets/img/neteller.png">
                  </span>
              </div>
              <div class="col-lg-10 col-md-8 col-sm-12 pt-3">
                  <div>Pay with Neteller</div>
                  <div><i>Deposit within one business day - NO minimum</i></div>
              </div>
          </div>
      </div>
          </a>
  				</div>
			</div>
		</div>
    </div>
    
    
</section>