<div class="cont" dir="{{dir}}" >

	<div class="">
        <!-- <div id="offer-ad-container" class="">
    <div class="pt-4 pb-2">
        <div class="bg-white shadow-sm border text-lg-left text-center">
            <a routerLink="../offer" class="row p-3 text-gray-90"> 
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <img id="offer-gif" src="https://panel.seoestore.net/assets/img/gift-icon.png" width="100">
                </div>
                <div class=" offer col-lg-8 col-md-4 col-sm-12 pt-3">
                    <h3 class="b-6"> {{'Top Up' | translate }}<span class="text-red">{{'Special Offers' | translate }}</span></h3>
                    <div><i>{{'Up to' | translate }} 100% {{'Bonus' | translate }} {{'balance' | translate }}</i></div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <span class="btn btn-success btn-lg btn-block p-3 mt-3">{{ 'Show Offers' | translate }}</span>
                </div>
            </a>
        </div>
    </div>
</div> -->



<section class="pt-3 bg-gray-05">
<div class="container text-lg-left text-center">
<div class="row">
    <div class="mt-5 col-lg-6 col-md-6 col-sm-12 border border-top-0 border-bottom-0 border-left-0">
        <h5 class="b-8">  {{'Balance' | translate }} {{'Available' | translate }} : {{user.user_balance.totalBalance}} $ </h5>
        <h5 class="b-8">  {{'will pay' | translate }} : {{willPay}} $ </h5>
        <h5 class="b-8">  {{'will get' | translate }} : {{willGet}} $ </h5>

        
                    <div class="pt-3 f-125">
            <a class="btn btn-outline-primary" routerLink="../purchase" *ngIf="!isLoggedIn">{{'LOG IN' | translate }}{{'to access' | translate }}</a>
            <!-- <a class="btn btn-outline-primary" routerLink="../purchase" *ngIf="isLoggedIn">${{user?.user_balance?.totalBalance}}</a> -->
        </div>
    
        <div class="pt-3 " style="margin: 10px;">
            <a routerLink="payments" target="_blank"><i>{{'Your' | translate}} {{'Payment History' | translate }}</i></a>
        </div>

    </div>
    <div class="mt-5 col-lg-6 col-md-6 col-sm-12 pb-5">
        <h3 class="b-8 mb-5" style="margin: 10px;" >{{'Payment Options' | translate }}</h3>
        <div class="row">
              
<a routerLink="../purchase" class=" col-12 mb-4">
<div class="bg-white pointer shadow">
  <div class="row p-2">
      <div class="col-lg-2 col-md-4 col-sm-12">
          <span class="img-box img-box-6 bg-white border rounded-circle">
              <img src="https://panel.seoestore.net/assets/img/paypal.png">
          </span>
      </div>
      <div class="col-lg-10 col-md-8 col-sm-12 pt-3">
          <div>{{'Pay with Paypal' | translate }}</div>
          <div><i>{{'Instant - No minimum' | translate }}</i></div>
      </div>
  </div>
</div>
  </a>
<!--
<a routerLink="../purchase" class=" col-12 mb-4">
<div class="bg-white pointer shadow">
  <div class="row p-2">
      <div class="col-lg-2 col-md-4 col-sm-12">
          <span class="img-box img-box-6 bg-white border rounded-circle">
              <img src="https://panel.seoestore.net/assets/img/bitcoin.png">
          </span>
      </div>
      <div class="col-lg-10 col-md-8 col-sm-12 pt-3">
          <div>Pay with Bitcoin</div>
          <div><i>Instant - No minimum</i></div>
      </div>
  </div>
</div>
  </a>

<a routerLink="../purchase" class=" col-12 mb-4">
<div class="bg-white pointer shadow">
  <div class="row p-2">
      <div class="col-lg-2 col-md-4 col-sm-12">
          <span class="img-box img-box-6 bg-white border rounded-circle">
              <img src="https://panel.seoestore.net/assets/img/cards.png">
          </span>
      </div>
      <div class="col-lg-10 col-md-8 col-sm-12 pt-3">
          <div>Pay with Card (Visa, Master)</div>
          <div><i>Instant - $5 minimum</i></div>
      </div>
  </div>
</div>
  </a>

<a routerLink="../purchase" class=" col-12 mb-4">
<div class="bg-white pointer shadow">
  <div class="row p-2">
      <div class="col-lg-2 col-md-4 col-sm-12">
          <span class="img-box img-box-6 bg-white border rounded-circle">
              <img src="https://panel.seoestore.net/assets/img/payoneer.png">
          </span>
      </div>
      <div class="col-lg-10 col-md-8 col-sm-12 pt-3">
          <div>Pay with Payoneer</div>
          <div><i>Deposit within one business day - $50 minimum</i></div>
      </div>
  </div>
</div>
  </a>

<a routerLink="../purchase" class=" col-12 mb-4">
<div class="bg-white pointer shadow">
  <div class="row p-2">
      <div class="col-lg-2 col-md-4 col-sm-12">
          <span class="img-box img-box-6 bg-white border rounded-circle">
              <img src="https://panel.seoestore.net/assets/img/neteller.png">
          </span>
      </div>
      <div class="col-lg-10 col-md-8 col-sm-12 pt-3">
          <div>Pay with Neteller</div>
          <div><i>Deposit within one business day - NO minimum</i></div>
      </div>
  </div>
</div>
  </a> -->
          </div>
    </div>
</div>
</div>


</section>
</div>