
	<div class="main">
		<form action="login" [formGroup]="loginForm" >
    		<h3 style="text-align: center;padding: 10px;" >
				{{ 'LOG IN' | translate }}
			</h3>
  			<div class="inset">
	  			<p>
	    		 <label for="userName">{{ 'Email' | translate }}</label>
   	 			<input formControlName="email" type="text" placeholder="User Name" required/>
				</p>
  				<p>
				    <label for="password">{{ 'Password' | translate }}</label>
				    <input formControlName="password" type="password" placeholder="password" required/>
  				</p>
		
 			 </div>
 	 
			  <div class="p-container" style="text-align: center;" >
			    <button type="submit" (click)="login()">{{ 'Login' | translate }}</button>
			  </div>
		</form>
	</div>  

