

<div class="top-shadow">
          
          
</div>

<section class="home-slider owl-carousel"  *ngFor="let item of slider">
  <div class="slider-item" style="background-image: url({{item.image}});">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-lg-7 text-center col-sm-12 element-animate">
          <h1 class="mb-4"><span>{{item.id}}</span></h1>
          <p class="mb-5 w-75">{{item.content}}</p>
        </div>
      </div>
    </div>
  </div>

  
</section>
<!-- END slider -->






<!-- contact -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-5 order-2">
        <form action="#" method="post">
          <div class="row">
            <div class="col-md-6 form-group" *ngFor="let item of contact">
              <label for="name">{{ 'Name' | translate }}</label>
              <input type="text" id="name" class="form-control ">
            </div>
            <div class="col-md-6 form-group">
              <label for="phone">{{ 'Telephone' | translate }}</label>
              <input type="text" id="phone" class="form-control ">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              <label for="email">{{ 'Email' | translate }}</label>
              <input type="email" id="email" class="form-control ">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              <label for="message">{{ 'Write Message' | translate }}</label>
              <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="submit" value= "{{ 'Send Message' | translate }}" class="btn btn-primary px-3 py-3">
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6 order-2 mb-5">
        <div class="row justify-content-right">
          <div class="col-md-8 mx-auto contact-form-contact-info">
            <p class="d-flex">
              <span class="ion-ios-location icon mr-5"></span>
              <span>{{ 'Address' | translate }}</span>
            </p>

            <p class="d-flex">
              <span class="ion-ios-telephone icon mr-5"></span>
              <span>+1 242 4942 290</span>
            </p>

            <p class="d-flex">
              <span class="ion-android-mail icon mr-5"></span>
              <span>info@yourdomain.com</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- <section class="section blog">
  <div class="container">

    <div class="row justify-content-center mb-5 element-animate">
      <div class="col-md-8 text-center">
        <h2 class=" heading mb-4">Blog Posts</h2>
        <p class="mb-5 lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

        <div class="media mb-4 d-md-flex d-block element-animate">
          <a href="#" class="mr-5"><img src="/assets/images/industrial_blog_1.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></a>
          <div class="media-body">
            <span class="post-meta">Feb 26th, 2018</span>
            <h3 class="mt-2 text-black"><a href="#">How to handle any intercate custom design</a></h3>
            <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p><a href="#" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
          </div>
        </div>



      </div>
      <div class="col-md-6">
        <div class="media mb-4 d-md-flex d-block element-animate">
          <a href="#" class="mr-5"><img src="/assets/images/industrial_blog_2.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></a>
          <div class="media-body">
            <span class="post-meta">Feb 26th, 2018</span>
            <h3 class="mt-2 text-black"><a href="#">How to handle any intercate custom design</a></h3>
            <p><a href="#" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
          </div>
        </div>

        <div class="media mb-4 d-md-flex d-block element-animate">
          <a href="#" class="mr-5"><img src="/assets/images/industrial_blog_3.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></a>
          <div class="media-body">
            <span class="post-meta">Feb 26th, 2018</span>
            <h3 class="mt-2 text-black"><a href="#">How to handle any intercate custom design</a></h3>
            <p><a href="#" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section> -->
