

<div class="top-shadow">
          
          
</div>

<section dir="ltr" class="home-slider owl-carousel"  >
  <div class="slider-item" *ngFor="let item of slider" style="background-image: url({{item.image}});">
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-lg-7 text-center col-sm-12  ">
          <!-- <h1 class="mb-4"><span>{{item.id}}</span></h1> -->
          <p class="mb-5 w-75">{{item.caption}}</p>
        </div>
      </div>
    </div>
  </div>

  
</section>
<!-- END slider -->
<section class="">
  <div class="container pt-6 pb-4">
      <div class="text-center">
          <img src="https://panel.seoestore.net/assets/img/easy.png" class="easy" width="150px" alt="easy to use">
          <h2 class="col-12 b-8 mt-4 text-gray-90">Easy to Order, Easy to Resell</h2>
          <p class="col-lg-10 offset-lg-1 col-sm-12 mt-3 text-gray-70">With Backlink , it is incredibly easy to manage your orders, 
            by creating and following progress and download reports. 
            </div>
      <div class="row mt-7">
          <div *ngFor="let service of services" class="col-lg-6 col-sm-12 mb-6">
              <div class="row">
                  <div class="col-3">
                      <span class="img-box img-box-8 bg-gray-05 rounded-circle"><img src="{{service.image}}" alt="Affordable pricing"></span>
                  </div>
                  <div class="col-9">
                      <h4 class="text-gray-70 b-6">{{service.name}}</h4>
                      <div class="text-gray-70">
                        {{service.caption}}
                      </div>
                  </div>
              </div>
          </div>

      </div>

  </div>
</section>

<!-- <section  class="section bg-light">
  <div class="container" >
    <div class="row">
      <div *ngFor="let item of services"  class="col-md-6 col-lg-4   mb-4">
        <div class="size media block-6 d-block text-center">
          <img width="120px" src="{{item.image}}" alt="">
          <div class="media-body">
            <h3 class="heading">{{item.name}}</h3>
            <p>{{item.caption}}</p>
          </div>
        </div>  

      </div>
      

      </div>
    </div>
  
</section> -->








