<body>
    
        <div class="main">
    
 <form [formGroup]="updateForm" *ngIf="updateForm" style="padding-bottom: 15px;;" (click)="update()">
    <h3 style="padding: 10px; text-align: center;" >
    {{'Update You Data' | translate}}
  </h3>
<div dir="{{dir}}" class="form-group">
    
     <label for="name">{{ 'Name' | translate }}</label>
     <input type="text"  class="form-control" formControlName="name" 
     [ngClass]="{'is-invalid':updateForm.get('name').touched && updateForm.get('name').invalid}" required />
     <div class="invalid-feedback">
       <div>{{ 'Name' | translate }} {{ 'is required' | translate }}</div>
     </div>
   </div>

   <!-- <div class="form-group">
   <label for="email">{{ 'Email' | translate }}</label>
   <input type="mail" class="form-control"  formControlName="email"
   [ngClass]="{'is-invalid':updateForm.get('email').touched && updateForm.get('email').invalid}" />
   <div *ngIf="updateForm.get('email').touched && updateForm.get('email').invalid"  class="invalid-feedback">
     <div *ngIf="updateForm.get('email').errors.required">{{ 'Email' | translate }} {{ 'is required' | translate }}</div>
     <div *ngIf="updateForm.get('email').errors.minlength">{{ 'Email' | translate }}  {{ 'must be' | translate }}{{ ' a letaset 6 charector' | translate }}</div>
   </div>
</div> -->
<div class="p-container" style="text-align: center;" >
    <button type="submit" >{{ 'Update' | translate }}</button>
  </div>
 </form>
        </div>
</body>